.main {
  width: 100%;
  height: 100%;
  /* background-color:#64FFDA; */
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#colors {
  text-align: center;
  color: white;
}

#menu {
  height: 30%;
}

/* .purple {
  color: purple;
} */
