
body {
  text-align: center;
}

.red {
  background-color: #F44336;
}

.orange {
  background-color: #FF9800;
}

.green {
  background-color: #4CAF50;
}

.blue {
  background-color: #2196F3;
}

#colors {
  text-align: center;
  color: white;
  cursor: pointer;
}

#colors div {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* #colors:hover {
  background-color: white;
} */

#menu {
  cursor: pointer;
  height: 150px;
}

#start {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* .purple {
  color: purple;
} */
